icon-starstroke = "\e616"
icon-plus = "\e610"
icon-whereami = "\e61d"
icon-zoomout = "\e62c"
icon-zoomin = "\e62d"
icon-expand = "\e624"
icon-prev = "\e625"
icon-next = "\e626"
icon-darr = "\e627"
icon-time = "\e628"
icon-undo = "\e629"
icon-unfav = "\e62a"
icon-fav = "\e62b"
icon-dots = "\e600"
icon-area = "\e601"
icon-back = "\e602"
icon-bath = "\e603"
icon-busket = "\e604"
icon-roundcheck = "\e605"
icon-check = "\e606"
icon-city = "\e607"
icon-clock = "\e608"
icon-close = "\e609"
icon-eye = "\e60a"
icon-facebook = "\e60b"
icon-fight = "\e60c"
icon-fito = "\e60d"
icon-geo = "\e60e"
icon-gym = "\e60f"
icon-login = "\e611"
icon-mail = "\e612"
icon-massage = "\e613"
icon-doc = "\e614"
icon-object = "\e615"
icon-pool = "\e618"
icon-power = "\e619"
icon-school = "\e61a"
icon-search = "\e61b"
icon-sportbar = "\e61c"
icon-star = "\e61e"
icon-go = "\e61f"
icon-trainer = "\e620"
icon-twitter = "\e621"
icon-vkontakte = "\e622"
icon-yoga = "\e623"
